html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #eceff1;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}
section {
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;

  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.section_left {
  margin-right: 10%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.section_right {
  margin-left: 10%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
nav {
  background-color: #31312f;
  line-height: 1.25em;
  text-align: right;
  padding: 0.25em;
}
nav ul li {
  display: inline;
  margin: 0.5em;
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  color: grey;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

hr.rounded {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}
.social img {
  width: 3%;
  height: 3%;
  margin: 5px;
}
.social img:hover {
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#banner {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 20%;
}
.banner {
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.banner_name {
  font-size: 5em;
  color: antiquewhite;

  margin-top: 8px;
}
.banner_skills {
  color: rgb(0, 0, 0);
}
.heading {
  font-size: 2em;
  color: rgb(29, 192, 209);
  font-weight: 900;
}
#profile_img {
  border-radius: 60%;
  max-width: 25%;
  height: auto;
  padding: 1%;
  background-color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.profile_section {
  padding: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.profile_section h3 {
  font-size: 2em;
  color: rgb(66, 66, 66);
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
}

.profile_text {
  margin-bottom: 1rem;
  line-height: 1.7em;
  font-size: 1em;
  color: rgb(82, 82, 82);
  text-align: center;
  text-transform: none;
}

.skills_section {
  padding: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.skills_section h3 {
  font-size: 2em;
  color: rgb(66, 66, 66);
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
}

.skills_text {
  margin-bottom: 1rem;
  line-height: 1.7em;
  font-size: 1em;
  color: rgb(82, 82, 82);
  text-align: center;
  text-transform: none;
}

.skills_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.skills_logo img {
  width: 50%;
  height: 50%;
  margin: 10px;
  border-radius: 60%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.skills_logo div {
  margin-bottom: 1rem;
  line-height: 1.5em;
  font-size: 1em;
  color: rgb(82, 82, 82);
  text-align: center;
  text-transform: none;
}

.skills_logo img:hover {
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.projects_section {
  padding: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.projects_section h3 {
  font-size: 2em;
  color: rgb(66, 66, 66);
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
}

.projects_text {
  margin-bottom: 1rem;
  line-height: 1.7em;
  font-size: 1em;
  color: rgb(82, 82, 82);
  text-align: justify;
  text-justify: inter-word;
  text-transform: none;
}

#contact_img {
  max-width: 20%;
  height: auto;
}
.contact_section {
  padding: 50px;
  margin-right: 30%;
  margin-left: 30%;
  text-align: center;
}

.contact_section h3 {
  font-size: 2em;
  color: rgb(66, 66, 66);
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 5px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #00afdb;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: medium;
  font-weight: bolder;
}

input[type="submit"]:hover {
  background-color: #037abe;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

footer {
  display: block;
  background-color: #212121;

  text-align: center;
  padding: 2%;
}
.footer_text {
  margin-bottom: 1rem;
  line-height: 1.7em;
  font-size: 1em;
  color: #eceff1;
  text-align: center;
  text-transform: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #profile {
    background-image: none;
    background-color: #0a1e38;
  }
  .social img {
    width: 10%;
    height: 100%;
    margin: 5px;
  }
  .skills_logo img {
    width: 40%;
    height: 40%;
    margin: 10px;
    border-radius: 60%;
    padding: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  #profile_img {
    border-radius: 60%;
    max-width: 50%;
    height: auto;
    padding: 1%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
